<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <targets>
    <target name="logfile" xsi:type="File"
            fileName="${basedir}\logfiles\${shortdate}.txt"
            layout="${longdate} ${level:uppercase=true} ${logger} ${message}"/>

    <target xsi:type="Console" name="lifetimeConsole"
            layout="${level:truncate=4:tolower=true}\: ${logger}[0]${newline}      ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="Microsoft.Hosting.Lifetime" level="Info" writeTo="lifetimeConsole, logfile" final="true" /> 
  </rules>
</nlog>